.docker_terraform_creds
.azure_terraform_creds
azure/.terraform/
azure/terraform.tfstate.backup
azure/terraform.tfstate
azure/.terraform.lock.hcl
azure/terraform.tfvars
old/
docker/.terraform/
docker/terraform.tfstate.backup
docker/terraform.tfstate
docker/.terraform.lock.hcl
docker/terraform.tfvars